body {
  color: #000080;
  background-color: #E1FFEE;
}
hr {
  border-style: none;
  border-top: 10px dotted #A5F1E9;
  border-width: 10%;
  width: 5%;
}
h1 {
  color: #7FBCD2
}
h3 {
  color: #7FBCD2
}

p {
  color: #000080 
}
