body {
  color: #5CA4CA;
  background-color: #E1FFEE;
}
h1 {
  font-family: 'Neonderthaw', cursive;
  font-size: 78px;
  text-shadow: 0 0 45px #74D2FF;
}
.tooltip {
  position: relative;
  display: inline-block; 
  border-bottom: 2px dotted #5CA4CA;
  padding-bottom: 0px;
}
.tooltip .tooltiptext {
  position: absolute;
  visibility: hidden;
  background-color: #5CA4CA;
  color: #E0FFF9;
  text-align: center;
  border: solid #FCF798 medium;
  border-radius: 50%;
  top: -10px;
  padding: 5px 5px;
  width: 160px;
}
.tooltip:hover .tooltiptext {
  visibility: visible
}
hr {
  border-style: none;
  border-top: 10px dotted #A5F1E9;
  border-width: 10%;
  width: 5%;
}
input[type="text"], textarea {
  background-color : #FCF798;
  border: solid #74D2FF medium;
}
input[type="email"], textarea {
  background-color : #FCF798;
  border: solid;
  border-color: #74D2FF;
  border-width: medium;
}

input[type="submit"] {
  background-color : #74D2FF;
  border: solid;
  border-width: thick;
  border-radius: 50%;
  border-color: #FCF798;
  color: #E0FFF9;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  font-size: large;
}
pre {
  font-family: 'Italianno', cursive;
  font-size: 23px;
}
.honda {
  margin: 5px;
  padding: 20px;
  background-color: #B81B0E;
  color:#FFFFFF;
}
.CRF {
  margin: 4px;
  padding: 5px;
  background-color: #FFFFFF;
  color: #0047AB;
  border: 7px solid #0047AB;
}


