body {
  color: #FBFCFC;
  background-color: #85C1E9;
}
figure {
  border: 10px #f7e98e outset;
  padding:30px;
  margin: auto;
  background-color: #ffd700;
}
#profilepic {
  border: 5px #f7e98e inset;
  border-radius: 50%;
}
figcaption {
  color: #B59410;
  text-align: center;
  border: 3px #f7e98e outset;
  width: 16%;
  margin-top: 2%;
  margin-bottom: 0%;
  margin-right: 42%;
  margin-left: 42%;
  border-radius: 50%;
}
h1 {
  font-family: 'Neonderthaw', cursive;
  font-size: 78px;
  text-shadow: 0 0 45px #FFFF33;
}
h2 {
  text-shadow: 0 0 30px #FFFF33;
  font-family: 'Neonderthaw', cursive;
}
.tooltip {
  position: relative;
  display: inline-block; 
  border-bottom: 2px dotted #5CA4CA;
  padding-bottom: 0px;
}
.tooltip .tooltiptext {
  position: absolute;
  visibility: hidden;
  background-color: #5CA4CA;
  color: #E0FFF9;
  text-align: center;
  border: solid #FCF798 medium;
  border-radius: 50%;
  top: -10px;
  padding: 5px 5px;
  width: 160px;
}
.tooltip:hover .tooltiptext {
  visibility: visible
}
::marker {
  color: #5CA4CA; 
  font-size: 18px;
}
hr {
  border-style: none;
  border-top: 10px dotted #5CA4CA;
  border-width: 10%;
  width: 5%;
}
a:link {
  color: #FDFEFE;
}
a:visited {
  color: #FCF3CF;
}
a:hover {
  color: #FF6700;
}
a:active {
  color: #39FF14;
}
fieldset {
  border-style: none;
  border: 10px inset #5CA4CA;
  width: 5%;
}
.swimmingpool {
  border-style: none;
  border-top: 4px dotted #FF3131;
  width: 1000px;
}
::-webkit-input-placeholder {
  color: #74D2FF;
}
:-ms-input-placeholder {
  color: #74D2FF;
}
::placeholder {
  color: #74D2FF;
}
input[type="text"], textarea {
  background-color : #FCF798;
  border: solid #74D2FF medium;
}
input[type="email"], textarea {
  background-color : #FCF798;
  border: solid;
  border-color: #74D2FF;
  border-width: medium;
}
input[type="date"], textarea {
  color: #74D2FF;
  background-color : #FCF798;
  border: solid #74D2FF medium;
}

input[type="submit"] {
  background-color : #74D2FF;
  border: solid;
  border-width: thick;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  border-color: #FCF798;
  color: #E0FFF9;
  padding: 18px 32px 18px 8px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  font-size: large;
}
input[type=submit]:hover {
  background-color: #000080;
}
pre {
  color: #5CA4CA;
  font-family: 'Ballet', cursive;
  font-size: 26px;
  font-weight: bolder;
}
#angular {
  font-family: Cascadia Mono,"courier new";
  color: grey;
  background-color: #1B1B1C;
  padding: 1px;
  font-size: 100%;

}
code {
  font-family: Cascadia Mono,"courier new";
  color: #3498DB;
  background-color: #1B1B1C;
  padding: 1px;
  font-size: 100%;
}
.enduro-honda {
  font-family: 'Fraunces', serif;
}
.honda {
  margin: 10px;
  padding: 30px;
  background-color: #B81B0E;
  color:#FFFFFF;
  border: 10px solid  #00256b;
}
.honda > h3 {
  padding-left: 32px;
}
  .honda > img {
    padding-left: 32px;  
  }
.honda > audio {
  padding-left: 32px;
}
.CRF {
  margin: 15px;
  padding: 15px;
  background-color: #FFFFFF;
  color: #00256b;
  border: 8px solid  #00256b;
}
.CRF > h3::first-line {
  color: #B81B0E;
  font-size: xx-large;
  font-style: italic;
  text-decoration: underline overline #00256b 8px; 
}
.CRF1 {
  font-family: 'Fraunces', serif;
  margin: 15px;
  padding: 15px;
  background-color: #FFFFFF;
  color: #00256b;
  border: 8px solid #00256b;
}
.CRF1 > h3::first-letter {
  color: #B81B0E;
  font-size: xx-large;
  font-style: italic;
}



